*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
.game-cont{
    background-image: url(bg.jpg);
    width: 80;
    height: 100vh;
    background-size:contain;
    background-repeat: repeat-x;
}
.score{
   
    font-size: 25px;
    color: black;
    position: absolute;
    top: 20%;
    right: 5%;
    
}
.game-over{
   
    font-size: 50px;
    color: black;
    position: absolute;
    top: 30%;
    left: 25%;
}
.pikachu{
    height: 150px;
    width: 300px;
    background-image: url(pikachu.gif);
    z-index:999;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 30px;
    
    
}
.jump{
    animation: jump 0.6s linear infinite;
}

.dino{
    background-image: url(spyro-dragon.gif);
    height: 100px;
    width: 200px;
    right:0px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 30px;
    
}
.dino1{
    animation: dino_run 5s linear infinite;
}

.sound_btn{
    position: absolute;
    top: 50px;
    right: 180px;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 2px  white;
}
.icon{
font-size: 20px;
}
.info_btn{
    position: absolute;
    top: 50px;
    right: 90px;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 2px  white;
}
.text_field{
    height: 440px;
    width: 400px;
    border:2px solid ;
    border-radius:20px ;
    position: absolute;
    top: 120px;
    right: 100px;
    z-index: 999;
    background-color:rgba(20, 15, 15, 0.63);
    box-shadow: 5px 5px 50px rgb(157, 231, 9);
    border: none;
    display: none;
}
.info_btn:hover +.text_field{
    display: block;
}
li{
    list-style:circle;
    font-size:25px;
    padding: 20px;
    color: white;
}
.move-btns{
    display: none;
}



@keyframes dino_run{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}

@keyframes jump{
    0%{
        bottom:0px;
    }
    50%{
        bottom: 280px;
       
       
    }
    100%{
        bottom: 0px;
       
    }

}


@media (max-width:600px) {
.game-over{
    font-size: 3.7vmin;
   left: 15vmin;
    margin:20px;
   
}
.game-cont{
    background-image: url(bg.jpg);
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-repeat: repeat-x;
}
.score{
    font-size: 12px;
}
.sound_btn{
    position: absolute;
    top: 20px;
    right: 80px;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 2px  white;
}
.info_btn{
    position: absolute;
    top: 20px;
    right: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 2px  white;
}
.text_field{
    height: 300px;
    width: 300px;
    border:2px solid ;
    border-radius:20px ;
    position: absolute;
    top: 50px;
    right: 70px;
    z-index: 999;
    background-color:rgba(20, 15, 15, 0.63);
    box-shadow: 5px 5px 50px rgb(157, 231, 9);
    border: none;
    
    display: none;
}
li{
    font-size: 12px;
}
.pikachu{
    height: 100px;
    width: 200px;
    left: -40px;
    bottom: 100px;
}
.dino{
    height: 80px;
    width: 120px;
    right: 0px;
    bottom: 100px;
}
.dino1{
    animation: dino_run 3s linear infinite;
}
body{
    overflow: hidden;
}

.move-btns{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.joy-btn{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 20px;
}

@keyframes jump-for-mw{
    0%{
        bottom:100px;
    }
    50%{
        bottom: 300px;
       
       
    }
    100%{
        bottom: 100px;
       
    }

}
.jump1{
    animation: jump-for-mw 0.6s linear infinite;
}




}